# Fichiers de build npm/yarn
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.npmrc

# Fichiers d'environnement locaux
.env
.env.*

# Fichiers macOS
.DS_Store

# Fichiers Windows
Thumbs.db

# Fichiers macOS
.DS_Store

# Fichiers Windows
Thumbs.db

# Fichiers de logs
*.log

# Fichiers de test
coverage/
