.log {
    &__main {
        background-image: url('/assets/bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.6);
        align-items: center;
        justify-content: center;

        & > section:first-of-type {
            width: 50%;
        }   
    }
}
