.custom-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px #000;
  height: 8vh;
}
