@use "../abstracts/variables";
// sélecteur de class
// car il y a un . devant
.custom-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px #000;
  height: 8vh;
  background-color: rgba($color: #000000, $alpha: 0.6);

  & > a:first-of-type {
    font-family: variables.$title-font;
    font-size: 30px;
  }

  a {
    color: #fff;
    margin-inline: 10px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      background-color: variables.$primary-color;
      width: 0%;
      left: 0;
      right: 0;
      transition: all ease-in-out 900ms; // faire attention à l'empreinte CSS alias CSS FOOTPRINT
      height: 2px;
    }

    &:hover {
      color: variables.$primary-color;
      &::after {
        width: 100%;
      }
    }
  }
}
